.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 20px;
    justify-content: center;
    /* grid-template-rows: masonry; */
    margin: 0 auto;
}
.grid-item{
    width: 230px;
    margin-bottom: 40px;
    border-radius: 15px;
    cursor: zoom-in;
    background-color: lightgray;
}
.grid-item:hover{
    filter: opacity(0.65);
}
.text_1{
    text-align: center;
}
.img_bk{
    background-image: url("/img/backback.png");
    background-color: #cccccc;
}
.img_bk2{
    background-image: url("/img/backback2.png");
    background-color: #cccccc;
}
.caja { 
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;
}
/* Style for text */